hr{
    background-color: black;
    width: 55%;
    height: 2px;
}
.left{
    position: absolute;
    left: 350px;
}
.bigbutton{
    width: 100px;
}
.timeButton{
    width: 60px;
}
.latitude{
    cityLat: ;
}