<!DOCTYPE html>
<html>
<head>
  <link rel = "stylesheet" type = "text/css" href = "index.css">
  <title>Deal Entry Form</title>
</head>

<body>
  <div class = "header">
    <center>
      <img src = "https://lh3.googleusercontent.com/vT1y-k8taMANJW1-yE4K9sG-DKnFogDqzFqQlCw4P_E=s144-no">
      <h1>Restaurants and Deals</h1>
    </center>
  </div>
  <form id = "my-form">
    <div class = "form">
      <div class = "restaurant">
        <div class = "restaurantTitle">
          <center>
            Restaurant Information
          </center>
        </div>
        Google Maps Search: 
          <input id = "searchTextField" type = "text" placeholder = "Enter a restaurant" autocomplete = "on" runat = "server" />
        Restaurant Name:
          <input id = "restaurantName" type = "text">
        Website:
          <input id = "restaurantWebsite" type = "text">
        Phone Number:
          <input id = "restaurantPhoneNumber" type = "text">
        Formatted Address:
          <input id = "restaurantAddress" type = "text">
        <div class = "sub">
          <center>
            Please validate all location fields!
          </center>
        </div>
        Street Number:
          <input id = "restaurantStreetNumber" type = "text">
        Street Address:
          <input id = "restaurantStreetAddress" type = "text">
        City:
          <input id = "restaurantCity" type = "text">
        State:
          <input id = "restaurantState" type = "text">
        Zip Code:
          <input id = "restaurantZipCode" type = "text">
        Latitude:
          <input id = "restaurantLatitude" type = "text">
        Longitude:
          <input id = "restaurantLongitude" type = "text">
      </div>
      <div class = "restaurantType">
        <div class = "restaurantTypeTitle">
          <center>
            Restaurant Type
          </center>
        </div>
        <div class = "restaurantTypeItems">
          <center>
            Alcohol<input id = "alcohol" type = "checkbox" value = "Alcohol">
            Wheelchair Accessible<input id = "wheelchairAccessible" type = "checkbox" value = "Wheelchair Accessible">
          </center>
        </div>
      </div>
      <div class = "restaurant">
        <div class = "restaurantAvailability">
          <center>
            Restaurant Availability
          </center>
        </div>
        <div class = "choices">
          Sunday:
            <input id = "sundaySt" type = "text" name = "Sunday Open" placeholder = "Use 24 hour time">
          To:
            <input id = "sundayEn" type = "text" name = "Sunday Close" placeholder = "e.g. 0900 or 1800">
          Monday:
            <input id = "mondaySt" type = "text" name = "Monday Open" placeholder = "Use 24 hour time">
          To:
            <input id = "mondayEn" type = "text" name = "Monday Close" placeholder = "e.g. 0900 or 1800"> 
          Tuesday:
            <input id = "tuesdaySt" type = "text" name = "Tuesday Open" placeholder = "Use 24 hour time">
          To:
            <input id = "tuesdayEn" type = "text" name = "Tuesday Close" placeholder = "e.g. 0900 or 1800">
          Wednesday:
           <input id = "wednesdaySt" type = "text" name = "Wednesday Open" placeholder = "Use 24 hour time">
          To:
           <input id = "wednesdayEn" type = "text" name = "Wednesday Close" placeholder = "e.g. 0900 or 1800">
          Thursday:
           <input id = "thursdaySt" type = "text" name = "Thursday Open" placeholder = "Use 24 hour time">
          To:
            <input id = "thursdayEn" type = "text" name = "Thursday Close" placeholder = "e.g. 0900 or 1800">
          Friday:
           <input id = "fridaySt" type = "text" name = "Friday Open" placeholder = "Use 24 hour time">
          To:
            <input id = "fridayEn" type = "text" name = "Friday Close" placeholder = "e.g. 0900 or 1800">
          Saturday:
            <input id = "saturdaySt" type = "text" name = "Saturday Open" placeholder = "Use 24 hour time">
          To:
            <input id = "saturdayEn" type = "text" name = "Saturday Close" placeholder = "e.g. 0900 or 1800">
        </div>
      </div>
      <div class = "deal">
        <div class = "dealTitle">
          <center>
            Deal Information
          </center>
        </div>    
        Deal Item:
          <input id = "dealItem" type = "text" placeholder = "Fish Tacos" required>
        Primary Tag:
          <input id = "dealPrimaryTag" type = "text" placeholder = "Tacos">
        Fineprint:
          <input id = "dealFinePrint" type = "text" placeholder = "Deal Restrictions e.g. Must buy beer with tacos or Deal only applies to fish tacos">
        Deal Price:
          <input id = "dealPrice" type = "number" step = "0.01" min = "0">
        Deal Amount Off:
          <input id = "dealAmountOff" type = "number" step = "0.01" min = "0" placeholder = "Leave empty if deal has percentage off">
        Deal Percent Off:
          <input id = "dealPercentOff" type = "number" min = "0" placeholder = "Leave empty if deal has amount off">
      </div>
      <div class = "dealType">
        <div class = "dealTypeTitle">
          <center>
            Deal Type
          </center>
        </div>
        <div class = "dealTypeItems">
          <center>
            Food
              <input id = "dealType" type = "checkbox" name = "dealtype" value = "Food">
            Drink
              <input id = "dealType1" type = "checkbox" name = "dealtype" value = "Drink">
            Featured
              <input id = "dealType2" type = "checkbox" name = "dealtype" value = "Featured">
              <div class = "dealTypeItemsCustom">
                <input id = "dealType3" type = "text" name = "customdeal" placeholder = "Other searchable deal tags e.g. Seafood, Mexican, Asian">
              </div>
          </center>
        </div>
        <div class = "dealSpecificTags">
          <center>
            Vegetarian
              <input id = "vegetarian" type = "checkbox" value = "Vegetarian">
            Vegan
              <input id = "vegan" type = "checkbox" value = "Vegan">
            Gluten Free
              <input id = "glutenFree" type = "checkbox" value = "GlutenFree">
          </center>
        </div>
      </div>
      <div class = "deal">
        <div class = "dealAvailability">
          <center>
            Deal Availability
          </center>
        </div>
        <div class = "choices">
          Sunday:
            <input id = "sundayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "sundayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
          Monday:
            <input id = "mondayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "mondayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
          Tuesday:
            <input id = "tuesdayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "tuesdayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
          Wednesday:
            <input id = "wednesdayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "wednesdayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
          Thursday:
            <input id = "thursdayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "thursdayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
          Friday:
            <input id = "fridayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "fridayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
          Saturday:
            <input id = "saturdayDealSt" type = "text" placeholder = "Use 24 hour time">
          To:
            <input id = "saturdayDealEn" type = "text" placeholder = "e.g. 0900 or 1800">
        </div>
      </div>
      <div class = "miscInfo">
        <div class = "submittedBy">
          Restaurant and Deal Submitted By:
            <input id = "submittedBy" type = "text" placeholder = "First name only">
        </div>
        <center>
          <input class = "submitbutton" type = "submit" value = "Submit">
        </center>
      </div>
    </div>
  </form>
</body>

<script src = "https://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
<script type = "text/javascript" src = "https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</html>

<script type = "text/javascript">
// appliction id, javascript id
Parse.initialize(
    "2TR1bOpjpFL8Wm7a7TXcbuoFCyJRB0VdSOXnf8tB",
    "qsHJYXDy2w11zsB7fJgJfTGW72vuXPfXe0jgGgAT"
);

if (!Parse.User.current()) {
  window.location.href = '/';
} else {
  Parse.Cloud.run('getGitHubData', {}).then(function(response) {
      $('#name').text(response.name);
      $('#login').text(response.login);
      $('#location').text(response.location);
      $('#blog').text(response.blog);
      $('#company').text(response.company);
      $('#followers').text(response.followers);
      $('#following').text(response.following);
      $('#github_details').show();
}, function(error) {
  alert('There was an error getting your GitHub details, ' +
    'please check the console for more information.');
  console.log(error);
});
}

function initialize() {
     var input = document.getElementById('searchTextField');
     var autocomplete = new google.maps.places.Autocomplete(input);
     google.maps.event.addListener(autocomplete, 'place_changed', function () {
       var place = autocomplete.getPlace();
       document.getElementById('restaurantName').value = place.name;
       document.getElementById('restaurantLatitude').value = place.geometry.location.lat();
       document.getElementById('restaurantLongitude').value = place.geometry.location.lng();
       document.getElementById('restaurantWebsite').value = place.website;
       document.getElementById('restaurantPhoneNumber').value = place.formatted_phone_number;
       document.getElementById('restaurantAddress').value = place.formatted_address;
       document.getElementById('restaurantStreetNumber').value = place.address_components[0].long_name;
       document.getElementById('restaurantStreetAddress').value = place.address_components[1].long_name;
       document.getElementById('restaurantCity').value = place.address_components[2].long_name;
       document.getElementById('restaurantState').value = place.address_components[3].short_name;
       document.getElementById('restaurantZipCode').value = place.address_components[5].long_name;
     });
}
google.maps.event.addDomListener(window, 'load', initialize); 

function toTitleCase(str)
{
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
}

function processForm(e) {
    if (e.preventDefault) e.preventDefault();

    var Deal = Parse.Object.extend("deals");
    var deal = new Deal();

    var Restaurant = Parse.Object.extend("restaurants");
    var restaurantQuery = new Parse.Query(Restaurant);

    var restaurantAvailabilityObject = { 
      sundaySt: document.getElementById('sundaySt').value, sundayEn: document.getElementById('sundayEn').value,
      mondaySt: document.getElementById('mondaySt').value, mondayEn: document.getElementById('mondayEn').value,
      tuesdaySt: document.getElementById('tuesdaySt').value, tuesdayEn: document.getElementById('tuesdayEn').value,
      wednesdaySt: document.getElementById('wednesdaySt').value, wednesdayEn: document.getElementById('wednesdayEn').value,
      thursdaySt: document.getElementById('thursdaySt').value, thursdayEn: document.getElementById('thursdayEn').value,
      fridaySt: document.getElementById('fridaySt').value, fridayEn: document.getElementById('fridayEn').value,
      saturdaySt: document.getElementById('saturdaySt').value, saturdayEn: document.getElementById('saturdayEn').value
    };

    var vegan = document.getElementById('vegan');
    var veganValue = false;
    if (vegan.checked)
      veganValue = true;

    var vegetarian = document.getElementById('vegetarian');
    var vegetarianValue = false;
    if (vegetarian.checked)
      vegetarianValue = true;

    var glutenFree = document.getElementById('glutenFree');
    var glutenFreeValue = false;
    if (glutenFree.checked)
      glutenFreeValue = true;

    var alochol = document.getElementById('alcohol');
    var alcoholValue = false;
    if (alcohol.checked)
      alcoholValue = true;

    var wheelchairAccessible = document.getElementById('wheelchairAccessible');
    var wheelchairAccessibleValue = false;
    if (wheelchairAccessible.checked)
      wheelchairAccessibleValue = true;

    var checkboxes = document.getElementsByName('dealtype');
    var checkboxesChecked = [];

    for (var i = 0; i<checkboxes.length; i++) {
       if (checkboxes[i].checked) {
          checkboxesChecked.push(checkboxes[i].value);
       }
    }

    var dealTagArrayLowerCase = checkboxesChecked.toString().toLowerCase();
    var dealTagArraySplit = dealTagArrayLowerCase.toString().split(",");
    var dealTagArrayTrim = dealTagArraySplit.map(Function.prototype.call, String.prototype.trim);

    var customDealTagArray = document.getElementById('dealType3').value;
    var customDealTagArraySplit = customDealTagArray.toString().toLowerCase().split(",");
    var customDealTagArrayTrim = customDealTagArraySplit.map(Function.prototype.call, String.prototype.trim);

    if (customDealTagArray ==  "") {
      var concatDealTagArrayTrim = dealTagArrayTrim;
    } else {
      var dealTagArray = customDealTagArrayTrim + ',' + dealTagArrayTrim;
      var concatDealTagArray = dealTagArray.toString().split(",");
      var concatDealTagArrayTrim = concatDealTagArray.map(Function.prototype.call, String.prototype.trim);
    }

    var dealItem = toTitleCase(document.getElementById('dealItem').value.toString());
    deal.set("item", dealItem);
    var dealPrimaryTag = toTitleCase(document.getElementById('dealPrimaryTag').value.toString());;
    deal.set("primaryTag", dealPrimaryTag);
    deal.set("fineprint", toTitleCase(document.getElementById('dealFinePrint').value));
    deal.set("reducedPrice", parseFloat(document.getElementById('dealPrice').value));
    deal.set("amountOff", parseFloat(document.getElementById('dealAmountOff').value));
    deal.set("percentOff", parseFloat(document.getElementById('dealPercentOff').value));
    deal.set("tags", concatDealTagArrayTrim);
    deal.set("vegan", veganValue);
    deal.set("vegetarian", vegetarianValue);
    deal.set("glutenFree", glutenFreeValue);
    deal.set("submittedBy", document.getElementById('submittedBy').value);
    deal.set("downVotes", 0);
    deal.set("upVotes", 0);
    deal.set("rating", 0);
    deal.set("flags", 0);
    deal.set("sundaySt", parseInt(document.getElementById('sundayDealSt').value));
    deal.set("sundayEn", parseInt(document.getElementById('sundayDealEn').value));
    deal.set("mondaySt", parseInt(document.getElementById('mondayDealSt').value));
    deal.set("mondayEn", parseInt(document.getElementById('mondayDealEn').value));
    deal.set("tuesdaySt", parseInt(document.getElementById('tuesdayDealSt').value));
    deal.set("tuesdayEn", parseInt(document.getElementById('tuesdayDealEn').value));
    deal.set("wednesdaySt", parseInt(document.getElementById('wednesdayDealSt').value));
    deal.set("wednesdayEn", parseInt(document.getElementById('wednesdayDealEn').value));
    deal.set("thursdaySt", parseInt(document.getElementById('thursdayDealSt').value));
    deal.set("thursdayEn", parseInt(document.getElementById('thursdayDealEn').value));
    deal.set("fridaySt", parseInt(document.getElementById('fridayDealSt').value));
    deal.set("fridayEn", parseInt(document.getElementById('fridayDealEn').value));
    deal.set("saturdaySt", parseInt(document.getElementById('saturdayDealSt').value));
    deal.set("saturdayEn", parseInt(document.getElementById('saturdayDealEn').value));
    var point = new Parse.GeoPoint({latitude: parseFloat(document.getElementById('restaurantLatitude').value),
                 longitude: parseFloat(document.getElementById('restaurantLongitude').value)});

    deal.save(null, {
      success: function(deal) {
        // Execute any logic that should take place after the object is saved.

        restaurantQuery.equalTo("name", document.getElementById('restaurantName').value);
        restaurantQuery.equalTo("streetAddress", document.getElementById('restaurantStreetAddress').value)
        restaurantQuery.find({
          success: function(restaurants) {
            if (restaurants.length ==  0) {
              var restaurant = new Restaurant();
              // New restaurant.
              restaurant.set("name", document.getElementById('restaurantName').value);
              restaurant.set("phoneNumber", document.getElementById('restaurantPhoneNumber').value);
              restaurant.set("website", document.getElementById('restaurantWebsite').value);
              restaurant.set("location", point);
              restaurant.set("streetNumber", document.getElementById('restaurantStreetNumber').value);
              restaurant.set("streetAddress", document.getElementById('restaurantStreetAddress').value);
              restaurant.set("city", document.getElementById('restaurantCity').value);
              restaurant.set("state", document.getElementById('restaurantState').value)
              restaurant.set("zipCode", document.getElementById('restaurantZipCode').value);
              restaurant.set("availability", restaurantAvailabilityObject);
              restaurant.set("wheelchairAccess", wheelchairAccessibleValue);
              restaurant.set("twentyOnePlus", alcoholValue);
              restaurant.set("submittedBy", document.getElementById('submittedBy').value);
              deal.set("restaurantId", restaurant);
              deal.save(null, {
                success: function(deal){ },
                error: function(deal){ }
              });
              restaurant.save(null, {
                success: function(restaurant) {
                  alert("Succesfully created new restaurant and deal")
                },
                error: function(error) {
                  alert("Failed to create restaurant, deal still created. You may need to delete this deal. Error code: " + error.message)
                }
              });
            } else if (restaurants.length ==  1) {
              deal.set("restaurantId", restaurants[0]);
              deal.save(null, {
                success: function(deal){ },
                error: function(deal){ }
              });
              var restaurantId = restaurants[0].id;
              restaurants[0].save({
                success: function(restaurant) {
                  alert("Succesfully created new deal and added to existing restaurant. WARNING: DEAL COULD BE DUPLICATE, PLEASE VERIFY IN DATABASE!")
                },
                error: function(error) {
                  alert("Failed to update existing restaurant, deal still created. You may need to delete this deal. Error code: " + error.message)
                }
              });
            } else {
              alert("Multiple restaurants with that name and address found");
            }
          },
          error: function(error) {
            alert("Failed to query the database for that restaurant. Error code: " + error.message)
          }
    });

      },
      error: function(deal, error) {
        alert('Failed to create new deal object, with error code: ' + error.message);
      }
    });
   return false;
}

var myForm = document.getElementById('my-form');
if (myForm.attachEvent) {
    myForm.attachEvent("submit", processForm);
} else {
    myForm.addEventListener("submit", processForm);
}
</script>

