.restInfo{
	width:700px;
	float: center;




  }
.restInfo input{
	width :100%;

}
   
.deals{

width: 700px;
float: center;
  margin-left: auto ;
  margin-right: auto ;
        }


input[type="submit"]{
  background: #663399 ;
  color: orange;
}

::-webkit-input-placeholder{color:while}
::-moz-placeholder{color:#663399}
:-ms-input-placeholder{color:#663399}
input:-moz-placeholder{color:#663399}

input[type="file"]{
background: orange;
color: #663399;
}

input[type="file"]::-webkit-file-upload-button{
background:#663399;
color:orange;
}
body{
	
    background-color: orange;
    font-family: "verdana";
font-size: 12pt;    
color: #663399;
}
h1{
	color: #663399;
        font-size:20pt;
	width: 500px;
/* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #333;
       -moz-box-shadow: 0px 0px 4px #333;
            box-shadow: 0px 0px 4px #333;
}

input{
color: #663399;   
	border: 1px solid #663399;
   /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #663399;
       -moz-box-shadow: 0px 0px 4px #663399;
            box-shadow: 0px 0px 4px #663399; /* some variation of blue for the shadow */
}

.container {
width: 700px;
float: center;
  margin-left: auto ;
  margin-right: auto ;
}
 .container input{
	
}
.left{
    position: relative;

}
.bigbutton{
    width: 100px;
}
.timeButton{
    width: 60px;
}
.latitude{
    cityLat: ;
}
