body {  
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 12pt;    
}

.row .col-sm-4 input {
  width: 210px;
  margin: 10px 0px 10px 0px;
}

.row .col-sm-6 input {
  width: 335px;
  margin: 10px 0px 10px 0px;
}

.restaurant {
  width: 700px;
  margin: 10px 0px 10px 0px;
}

.restaurant .mdl-textfield {
  width: 100%;
}

.restaurant .restaurantTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 10px 0px 10px 0px;
}

.restaurant .sub {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;  
  margin: 10px 0px 10px 0px;
}

.restaurant .restaurantTypeTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 20px 0px 20px 0px;
}

.restaurantTypeItems {
  display: flex;
  margin: 10px 10px 10px 10px;
}

.restaurant .restaurantAvailabilityTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 20px 0px 20px 0px;
}

.restaurantAvailability .restaurantAvailabilityDays {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.restaurantAvailability .restaurantAvailabilityTimes .mdl-textfield {
  width: 100%;
}

.deal {
  width: 700px;
  margin-left: auto ;
  margin-right: auto ;
}

.deal .mdl-textfield {
  width: 100%;
}

.deal .dealTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 10px 0px 10px 0px;
}

.deal .primaryTag .primaryTagTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 10px 0px 10px 0px;
}

.deal input {
  width: 700px;
  margin: 10px 0px 10px 0px;
}

.deal .dealCategoryOrSingular input {
  margin: 10px 10px 10px 10px;
}

.dealType {
  margin: 10px 0px 10px 0px;
}

.dealType .dealTypeTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 10px 0px 10px 0px;
}

.dealType .dealTypeItems input {
  margin: 10px 10px 10px 10px;
}

.dealType .dealSpecificTags input {
  margin: 10px 10px 10px 10px;
}

.dealType .dealTypeItems {
  display: flex;
}

.dealType .dealTypeItemsCustom .mdl-textfield {
  width: 100%;
}

.dealType .dealSpecificTags {
  display: flex;
}

.deal .dealAvailabilityTitle {
  font-family: "Sentinel SSm A","Sentinel SSm B",Georgia,serif;
  font-size: 16pt;
  margin: 10px 0px 10px 0px;
}

.dealAvailability .dealAvailabilityDays {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.dealAvailability .dealAvailabilityTimes .mdl-textfield {
  width: 100%;
}

.miscInfo .submittedBy .mdl-textfield{
  width: 100%;
}

.form {
  width: 700px;
  margin-left: auto ;
  margin-right: auto ;
}

.submittedBy {
  margin: 10px 0px 10px 0px;
}

.submitbutton {
  background-color: #6B0C2F;
  color: #fff;
  font-family: 'Helvetica Neue',sans-serif;
  font-size: 18px;
  line-height: 30px;
  border-radius: 20px;
  border: 0;
  text-shadow: #C17C3A 0 -1px 0;
  width: 700px;
  height: 32px;
}